@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Header */

body{
	background-color: #ddd !important; /* #272727 */
	font-family: 'Montserrat', sans-serif;
}

#ftn-web-cinema-header{
	background-color: #333 !important; /* #c5c5c5 */
	border-bottom: black 2px solid;
	color: #ddd;
}

.fa-github{
	margin-left: 10px;
	/* Ako se ovde stavi color nece da menja na hover (overwriteovace) */
	font-size: 40px;
	display: inline-flex;
	vertical-align: middle;
}

#github-dugme{
	color: #ddd !important;
	font-size: 20px;
	font-weight: 700;
    vertical-align: middle;
	border-width: 2px;
	border-color: #ddd;
}

#github-dugme:hover, .fa-github:hover{
	background-color: #ddd;
	color: #333 !important;
	transition: 0.4s ease;
	border-width: 0px;
}

/* **************************** */

/* Homepage i Index-i */

#homepage-dugme{
	display: block;
	margin: 40px 0%; /* Bilo 40px 10% */
	color: #212529 !important;
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	border-width: 2px;
	border-color: #333;
}

#homepage-dugme:hover{
	background-color: #333 !important;
	color: #ddd !important;
	transition: 0.4s ease;
}

#homepage-dugme i{
	margin-right: 26px;
	font-size: 30px;
	vertical-align: middle;
}

.standard-header{
	/* background-image: linear-gradient(#101010, #272727); */
	color: #212529;
}

/* **************************** */

/* Forma */

#home-dugme{
	color: #212529 !important;
	font-size: 20px;
	font-weight: 500;
    vertical-align: middle;
	border-width: 2px;
	border-color: #333;
}

#home-dugme:hover, .fa-home:hover{
	background-color: #333;
	color: #ddd !important;
	transition: 0.4s ease;
}

.forma{
	color: #212529;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

input, select{
	color: black !important;
}

label{
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0px;
}

#aktivan{
	width: 50px;
	height: 16px;
}

/* Profil */

#profilna-slika{
	height: 300px;
	width: 300px;
	border-radius: 100%;
}

/* Eksperimentalno */

.col-md-6{
	padding-left: 0 !important;
}

/* **************************** */

/* Tabele */

table {
	text-align: center;
}

thead td{
	border: 3px solid rgb(50, 50, 50);
	padding: 6px 45px;
	font-weight: 800;
	font-size: 20px;
}

td{
	border: 1px solid rgb(100, 100, 100);
	padding: 6px 45px;
}